<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/bc75db35-c928-4dc6-b7fd-9e2606457869/resourceGroups/apps/providers/Microsoft.ContainerRegistry/registries/abyssregistry</ResourceId>
    <ResourceName>abyssregistry</ResourceName>
    <ResourceGroup>apps</ResourceGroup>
    <Subscription>Visual Studio Professional</Subscription>
    <RegistryUrl>https://abyssregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b1f5c6a9-9ca5-43fe-bee1-22e8fc2d0b04</ProjectGuid>
  </PropertyGroup>
</Project>