
.main {
    display: flex;
    flex-direction: row;
    > * {
        padding-left: 10px;
    }
}

.field {
    flex: 10;
}

.button {
    align-self: center;
}

.log {
    white-space: pre-wrap;
    line-height: 1.5em;
}

.human {
    border-style: solid;
    border-width: thin;
    border-color: #808080;
}