
.main {
    display: flex;
    flex-direction: row;
}

.options {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    & > * {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

.buttons { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    & > * {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

.field {
    flex: 10;
}

.button {
    align-self: center;
}

.log {
    margin-top: 10px;
    white-space: pre-wrap;
    line-height: 1.5em;
}

.human {
    border-style: solid;
    border-width: thin;
    border-color: #808080;
}