@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();
@include covalent-core();

$primary: mat-palette($mat-indigo, 600);
$accent: mat-palette($mat-blue, 600, A100, A400);

$warn: mat-palette($mat-red, 900);

$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);