@import "../styles/_breakpoints";

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.content {
    grid-column: span 12;
}

@include medium {
    .content {
        grid-column: 2 / span 10;
    }
}

@include large {
    .content {
        grid-column: 4 / span 6;
    }
}

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;

    .title {
        font-size: 2em;
        font-weight: lighter;
        padding-left: 10px;
    }

    @include medium {
        .title {
            padding-left: 0px;
        }
    }

    a {
        text-decoration: none;
        color: white;

        mat-icon {
            padding: 0px 5px;
            font-size: 24px;
            color: #ffffff;
        }
    }

    .spacer {
        flex: 1 1 auto;
    }
}
