<h1>Who Said It?</h1>
<div class="main">
    <div class="name">{{ name }}:</div>
    <mat-form-field class="field">
        <input class="input" matInput placeholder="Message" type="text" #input (keyup.enter)="whoSaid(input.value)" />
    </mat-form-field>
    <div class="button">
        <button [disabled]="loading" mat-raised-button (click)="whoSaid(input.value)">Submit</button>
    </div>
</div>
<div class="log">
    <button mat-raised-button (click)="clear()" *ngIf="log.length">Clear</button>
    &nbsp;
    <button mat-raised-button (click)="undo()" *ngIf="log.length">Undo</button>
    <br />
    <br />
    <div *ngFor="let logItem of log">
       {{ logItem.Name }}: {{ logItem.Message }}
    </div>
</div>