@use "@angular/material" as mat;
@import "@angular/material/theming";

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 600);
$accent: mat.define-palette(mat.$blue-palette, 600, A100, A400);

$warn: mat.define-palette(mat.$red-palette, 900);

$theme: mat.define-dark-theme($primary, $accent, $warn);

@include mat.all-component-themes($theme);
