@use "@angular/material" as mat;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 600);
$accent: mat.define-palette(mat.$blue-palette, 600, A100, A400);

$warn: mat.define-palette(mat.$red-palette, 900);

$theme: mat.define-dark-theme((
    color: (primary: $primary, accent: $accent, warn: $warn),
    typography: mat.define-typography-config(),
    density: 0
));


@include mat.all-component-themes($theme);
