<h1>Server Manager</h1>
<mat-form-field>
    <mat-select [disabled]="loading" placeholder="Select server" [(ngModel)]="selectedId">
        <mat-option *ngFor="let server of servers" [value]="server.Id">{{ server.Tag }}</mat-option>
    </mat-select>
</mat-form-field>
&nbsp;
<button mat-raised-button [disabled]="loading" (click)="refresh()">Refresh</button>
<h2>Status: {{ selected ? ServerStatus[selected.StatusId] : 'N/A' }}</h2>
<button mat-raised-button [disabled]="!selected || loading || selected.StatusId !== ServerStatus.Inactive" (click)="start()">Start</button>
&nbsp;
<button mat-raised-button [disabled]="!selected || loading || selected.StatusId !== ServerStatus.Active" (click)="stop()">Stop</button>
<pre>{{ servers | json }}</pre>