.provider-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.button {
    margin-right: 8px;
}

.provider-profile {
    cursor: pointer;
}

.title{
    margin-bottom: 15px;
}

.schemes {
    margin-bottom:0px;
}

.scheme {
    display: flex !important;
}